<% provide(:title, 'Home') %>
<div class="text-center jumbotron">
  <%= image_tag("Logo.png", :alt => "logo") %>
  <h3>A simple journaling app to keep track of the BrightSide of any day or situation.</h3>
  <br/>
  <h4>New user?</h4> <%= link_to "Sign up now!", signup_path, class: "btn btn-large btn-primary" %>
</div>
